[2012-08-13 08:33] jackfranklin opened #2 "Use Node module instead of wget for downloading"
If we can save the external dependency that would be awesome.

@kouphax what do you think?

[2012-08-13 09:00] kouphax commented on #2
Your wget method would become something like this....

[code]

Seems to work but not exhaustively tested (need to check with https calls etc).  I also think this would allow more flexibility around the zip file stuff as well.

[2012-08-13 09:01] jackfranklin commented on #2
Awesome, thanks. Will have a look this evening at adding that in.

[2012-08-15 10:42] mheap commented on #2
Just wondering, what's the reasoning behind not using external dependencies? Using [Request](https://github.com/mikeal/request/) it'd be as easy as doing something like:

[code]

[2012-08-15 10:44] jackfranklin commented on #2
@mheap by external dependencies I mean things you can't `require()` through NPM. That Request looks ace, I'll probably push a version this eve that drops `wget` and uses that instead. Cheers.

[2012-08-15 10:47] mheap commented on #2
Request is awesome, I use it for all HTTP based stuff now.

Word of warning, though that line I shared looks awesome, it has no 404 handling etc built in. It literally takes whatever's at fileUrl and puts it in output. Will need a bit more code to make it robust.

[2012-08-15 10:49] jackfranklin commented on #2
Awesome stuff, will have a play with it this evening. Will prob rewrite to use a couple of other modules I like the look of, including Commander JS too.

[2012-08-15 17:56] jackfranklin commented on #2
@mheap if you see the above commit (on the develop branch), I've swapped from wget to Request, which is awesome. Need to flesh out the handling of the errors but it works.

[2012-08-15 17:56] #2 closed, assigned to nobody

[2012-08-17 15:38] mheap opened #3 "Rename nodefetch.json to .nodefetch.json"
If a config file's going to live in my home dir, it needs to be a dotfile so I don't accidentally delete it.

[2012-08-17 15:58] jackfranklin commented on #3
Completely agree with this @mheap, will fix this asap.

[2012-08-17 16:07] jackfranklin commented on #3
Done

[2012-08-17 16:07] #3 closed, assigned to nobody

[2013-01-20 23:42] tgvashworth opened #4 "component.json"
Do you think this should look for a `component.json` so that it's compatible with Bower et al?

[2013-01-20 23:53] jackfranklin commented on #4
Not sure. If people are commited to using pulldown, why would they ever have a component.json file?

[2013-01-21 20:46] jackfranklin opened #5 ".pulldownrc destination"
If it doesn't exist, it doesn't work.

Need to make sure it exists. A cheeky `mkdir -p` should do it.

[2013-01-21 20:56] jackfranklin commented on #5
Fixed in 0.1.1

[2013-01-21 20:57] #5 closed, assigned to nobody

[2013-01-21 20:57] #4 closed, assigned to nobody

[2013-01-25 15:43] k33g opened #6 "Project dependencies with the .pulldownrc file"
Hello,
it would be fine if it is possible to change the name of destination file, something like this

[code]

pulldown runs very well under windows 7 :)

[2013-01-25 15:46] jackfranklin commented on #6
Firstly, that's great news! Thanks :)

I also agree with the idea that you should be able to edit the names within the `.pulldownrc` file, regardless of if you use the URL or named dependency.

I'm thinking something like this:

[code]

Where `location` is either a URL or a name to find in `~/.pulldownrc`.

What do you think to that? Thanks :)

[2013-01-25 15:51] k33g commented on #6
it would be perfect :)

[2013-02-03 14:17] jackfranklin commented on #6
Just fixed this with V0.1.2

[2013-02-03 14:17] #6 closed, assigned to nobody

[2013-02-04 10:20] k33g commented on #6
I just tested on windows, it works great :) so cool!

[2013-04-25 19:02] egidijusz opened #7 "Destination folder for unzipping"
First of all I want to say - this is awesome library! Thank you for making it :)

It would be very nice if when dealing with zip files it would take into account "output" value. I mean now zips are just unzipped in project folder no matter where "output" in .pulldownrc points. Seems that script tries to download zip file to path defined in "output", not unzip it there.

Sorry for my bad english.

[2013-04-30 22:13] adrian-chang opened #8 "Local ~/.pulldown.json"
It seems pretty reasonable that you'd want a local pulldown.json per project that you're working on otherwise it would get messy as everything is global.

The suggestion would be to scan for a local pulldown.json file in the current directory, then to scan the home_directory, then fetch the default one if there is nothing to be found.

[2013-04-30 22:33] jackfranklin commented on #8
You can do this right now with `.pulldownrc`: https://github.com/jackfranklin/pulldown#project-dependencies-with-the-pulldownrc-file

Is that what you're after?

[2013-04-30 23:16] adrian-chang commented on #8
This is fairly close but not quite.

What I really want to do is more like this.

pulldown jquery:lib/jquery.js

The location of jquery is examined through a local rc file instead of the home directory location. I'm not sure the project configuration can do that as it has to install everything in one location instead of targeting.

[2013-05-01 10:04] jackfranklin commented on #8
Ahh I see, sorry I misunderstood.

Out of interest, what's the use case here?

It should be quite simple to implement.

[2013-05-01 10:06] jackfranklin commented on #7
This makes sense - will look into this.

[2013-05-01 17:37] adrian-chang commented on #8
Well it's more of the case that not everyone who may work on a project is going to well keep their home directories the same. This forces it so that if contextually two people are in the same project, they are ensured to get the same source when they pulldown.

[2013-05-01 17:49] jackfranklin commented on #8
Ahh yes. Makes perfect sense. I will work on this.

I'm imagining it should search recursively up directories until it finds one.

[2013-05-03 22:32] jackfranklin opened #9 "Use CDN.js as backup"
Use @phuu's plugin: https://github.com/phuu/cdnjs

This lets us fallback to cdnjs if the thing doesn't exist within `.pulldown.js`

[2013-05-04 20:59] sindresorhus opened #11 "Improve sets"
Currently it's:

[code]

Would be more natural if it was

[code]

[2013-05-04 22:16] jackfranklin commented on #11
@sindresorhus thanks for this! Myself and @phuu are actually rewriting the entire thing right now that will improve a whole bunch of stuff (in my opinion) and also improve our support for sets.

[2013-05-04 22:19] tgvashworth commented on #11
Literally, right now.

[2013-05-05 00:56] jackfranklin opened #12 "Command Line help"
Currently none given. Should be accessed through `pulldown -h`, `pulldown --help` or just `pulldown`.

[2013-05-05 00:56] #9 closed, assigned to nobody

[2013-05-05 00:57] jackfranklin commented on #7
As you might have seen, we've just completely rewritten Pulldown from the ground up. Currently we now have no support for zips at all (apologies for this) but will be looking to add them back in. As such I'm going to close this and make a new ticket for adding zip support.

Jack.

[2013-05-05 00:57] #7 closed, assigned to nobody

[2013-05-05 00:57] jackfranklin opened #13 "Support zips?"
Bootstrap, etc?

[2013-05-05 00:59] jackfranklin commented on #8
Hey @amchang. Our new pulldown, which has been completely rewritten, now works completely differently on this. If you take a look and let me know what you think, that would be great. If you have any probs, please open a new ticket :)

[2013-05-05 00:59] #8 closed, assigned to nobody

[2013-05-05 01:01] jackfranklin commented on #11
It's now more like this @sindresorhus ! A _lot_ has changed, so I suggest giving the README a once over. Hopefully you'll approve :+1:

[2013-05-05 01:03] jackfranklin opened #14 "Handle errors better"

[2013-05-05 01:54] adrian-chang opened #15 "Specify Files Location"
Hey thanks for the update.

This is getting pretty close.

The only thing I'd say is missing is specifying where a file is located after a pulldown happens.

IE I'd want to be able to put jquery into a ./vendor folder etc. instead of dumping it into the local folder. If this options already exists, I'm not sure I see it. It's not really possible to do this as far as I can see unless you make a per

[2013-05-05 09:40] #11 closed, assigned to nobody

[2013-05-05 09:42] jackfranklin commented on #15
So I'm thinking something like:

[code]

Which would send all the files into the `vendor/` directory.

I also would like to support `pulldown jquery:foo.js` to download jQuery to `foo.js`. That would only work when the thing you're downloading is just one URL, though.

[2013-05-05 09:46] tgvashworth commented on #15
In theory we should support pulling down multiple packages at the same time:

[code]

So what about an option (`--target` or `--out`?) that specifies the target directory?

[code]

This would then support the `name:file` syntax too.

[code]

[2013-05-05 09:59] jackfranklin commented on #15
:+1: I like that.

[2013-05-05 11:21] jackfranklin opened #16 "Tell the user if nothing was found"
Currently, it just outputs nothing. Probably just need a message explaining we couldn't resolve what they searched for.

[2013-05-05 11:21] jackfranklin commented on #15
This landed in `0.2.3`.

[2013-05-05 11:21] #15 closed, assigned to nobody

[2013-05-05 11:25] jackfranklin opened #17 "Don't duplicate downloads"
[code]

Will download jQuery twice.

[2013-05-05 11:33] jackfranklin commented on #16
Solved in 0.2.4

[2013-05-05 11:33] #16 closed, assigned to nobody

[2013-05-05 12:02] jackfranklin commented on #17
Landed in 0.2.5

[2013-05-05 12:02] #17 closed, assigned to nobody

[2013-05-05 12:03] jackfranklin opened #18 "Show where we got the URL from"
In the console output.
- .pulldown.json
- a custom resolver on the pulldown api server
- cdn js
- failed

[2013-05-05 12:14] tgvashworth commented on #18
IMPOSSIBRU

[2013-05-05 12:14] #18 closed, assigned to nobody

[2013-05-05 12:15] tgvashworth commented on #18
![](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm1V6iLNVjcMS3wtLSew5y8wcmT5RrqTW10yoVS9cNi5qkhOvc)

[2013-05-05 12:19] jackfranklin commented on #18
![](https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSWWNRS0IrubEqQIh1VVbtcO5AWVx9hv3fUkb2eatfTtDDfsqmMLw)

[2013-05-05 17:17] #13 closed, assigned to nobody

[2013-05-06 13:55] jackfranklin opened #20 "Document versioning support"
We support it but you wouldn't know, based on the documentation!

[2013-05-06 21:29] tgvashworth opened #21 ".zip.zip"
[code]

This is all my fault.

[2013-05-06 22:03] jackfranklin opened #23 "Write some tests"
I'm a bit clueless here as to how to test this thing, but it definitely needs some.

I guess we should test that certain searches produce the network requests we expect?

Thoughts welcome.

[2013-05-06 22:03] #21 closed, assigned to nobody

[2013-05-06 22:18] tgvashworth commented on #23
The constructor is exported, so you can swap out/mock things on the prototype, like getFiles. Fake some API responses and see how it resolves things.

The argument passing can be mocked too, so we can check for the right output for given arguments.

[2013-05-06 22:33] jackfranklin commented on #23
Ahh good point.

I'd argue that the most important bit of the CLI tool is parsing the arguments, so we can override `getFiles` and see what's passed into it, and assert it's what we expect, that kind of thing.

[2013-05-07 17:02] jackfranklin opened #24 "Setup Github pages?"
Maybe?

[2013-05-07 17:12] tgvashworth commented on #24
Yes. :+1:

[2013-05-08 12:17] jackfranklin opened #25 "Make pulldown support URLs"
Sometimes I want to quickly pull down a URL I know. Should be able to pass pulldown a URL and it should just download it.

Basically a glorified `wget`.

[2013-05-08 12:19] tgvashworth commented on #25
This works already I believe.

[2013-05-08 12:19] tgvashworth commented on #25
[code]

And even:

[code]

[2013-05-08 12:56] jackfranklin commented on #25
Beautiful.

[2013-05-08 12:56] #25 closed, assigned to nobody

[2013-05-08 13:18] tgvashworth commented on #25
Magic pulldown-resolve is magic.

[2013-05-08 13:32] jackfranklin commented on #25
I realised, if the resolver detects a URL, it just returns it, right? :dancers:

[2013-05-08 21:33] tgvashworth commented on #25
Yup. https://github.com/phuu/pulldown-resolve/blob/master/lib/resolve.js#L17

[2013-05-09 21:09] tgvashworth opened #26 "https url failing"
[code]

Makes me think it's grabbing everything before the colon?

[2013-05-11 16:14] tgvashworth commented on #14
What kind of errors?

[2013-05-11 16:26] #20 closed, assigned to nobody

[2013-05-11 16:26] #26 closed, assigned to nobody

[2013-05-11 18:03] tgvashworth commented on #12
Oops, forgot -h.

[2013-05-22 21:15] jackfranklin commented on #12
Fixed and out in 0.3.2 https://github.com/jackfranklin/pulldown/commit/6003033747ef5f464c5252ce26132311e741e213

[2013-05-22 21:15] #12 closed, assigned to nobody

[2013-06-11 20:40] jackfranklin commented on #23
Once the double comments pull req is merged, we will have some tests and I then plan to add more. Once that's done I'll set up Travis CI too :)

[2013-07-01 10:28] jackfranklin opened #32 "CLI for creating custom things?"
[code]

Thinking something like that? Not sure I like the API like that though. Perhaps it should be:

[code]

We can then save that to the pulldown.json file?

[2013-07-03 10:13] jackfranklin commented on #32
As @phuu just pointed out to me, we'd also need the ability to add sets.

[code]

Maybe. I wonder how many people actually use the custom stuff though.

[2013-07-03 10:15] latentflip commented on #32
Could do it the npm sorta way:

`pulldown http://foo.com/foo.js --save`

I guess that doesn't let you rename it

`pulldown http://foo.com/foo.js --save foo`

[2013-07-03 10:15] tgvashworth commented on #32
Not sure I like the `--new` syntax. The git CLI would suggest something like  `pulldown set create backbone -- http://... http://... http://...` which I think is a little verbose.

Crazy idea: new CLI thing (not called pulldown) that's interoperable that lets you build sets.

[2013-07-03 20:24] tgvashworth commented on #32
Ok that was a silly idea.

Jack, what's the reason you thought of this? Some specific thing you wanted to do but couldn't, presumably.

[2013-07-08 14:24] jackfranklin opened #33 "Depreciation warning"
[code]

Would be nice to tidy that error up. "We now use :: as the separator" etc.

[2013-07-08 22:47] tgvashworth commented on #23
Tests are now a thing.

[2013-07-08 22:47] #23 closed, assigned to nobody

[2013-07-08 22:47] tgvashworth opened #34 "Add travis"
:tractor:

[2013-07-09 08:12] jackfranklin opened #35 "Integration Tests?"
Maybe a Node script that

1) Uses Node's `child_process.exec` or similar, calls pulldown.
2) Saves everything into a `test/tmp` dir or similar, and wipes that directory on finish?

Would be nice to have some that we can run before pushing a new version.

[2013-07-09 13:59] jackfranklin opened #37 "Figure out why Travis fails"
It seems to work on 0.10 but when Travis runs the tests on 0.8.25 they break.

Locally I am able to swap to Node 0.8.25, reinstall pulldown and then run it. It works fine, and running `npm test` gives me all green too.

[2013-07-09 14:38] #35 closed, assigned to nobody

[2013-07-31 12:30] jackfranklin opened #38 "List sets"
I'd like to enhance the sets we have in the API. Once that's done, it would be good to add a command to list them:

[code]

(API up for discussion)

[2013-07-31 12:30] jackfranklin commented on #37
It works now.

[2013-07-31 12:30] #37 closed, assigned to nobody

[2013-07-31 12:30] jackfranklin commented on #34
ADDED.

[2013-07-31 12:30] #34 closed, assigned to nobody

[2013-07-31 12:31] jackfranklin commented on #14
Closing this - I think we do do this now.

[2013-07-31 12:31] #14 closed, assigned to nobody

[2013-07-31 13:01] tgvashworth commented on #38
Yep, totes up for this. You could actually just hit `/` and list all the arrays:

[code]

[2013-07-31 13:04] tgvashworth commented on #38
Also `pulldown ls`?

[2013-07-31 13:13] jackfranklin commented on #38
Yeah that works.

Yeah.

Will open another issue in the API repo to discuss sets.

[2013-08-03 15:56] jackfranklin opened #39 "Swap to using Chalk for colours"
https://github.com/sindresorhus/chalk

[2013-08-03 16:12] tgvashworth commented on #39
Ooh, nice. I can see myself using this in future.

[2013-08-03 16:13] jackfranklin commented on #39
Yeah me too. Good old @sindresorhus <3

[2013-08-03 16:55] sindresorhus commented on #39
:smiley:

[2013-08-03 17:06] sindresorhus commented on #39
Some other things we use that might be of interest:
- [update-notifier](https://github.com/yeoman/update-notifier) - a non-obtrusive way to let the user know they have an outdated version.
- [insight](https://github.com/yeoman/insight) for reporting anonymous stats to get a better insight into how your users use the tool. Like what commands are the most used ones, what are never used. What package

[2013-08-03 20:51] tgvashworth commented on #39
@sindresorhus Nice! I will _definitely_ be giving those a look. Thanks!

[2013-08-07 09:39] tgvashworth opened #40 "Dry run"
I would like to be able to do a pulldown 'dry-run' where I try see what _would_ happen, but not actually do it.

[code]

This would also enable a kind of search mode: "hey pulldown, do you have this?". Currently I search cdnjs before using pulldown for a new thing.

[2013-08-07 09:43] jackfranklin commented on #40
+1 would use.

Interesting. I never do, I just run pulldown and hope :dancers:

[2013-08-07 09:48] tgvashworth commented on #40
It's also useful to check that you've got the right files going to the right places – because there's some weird shit going on, bug to follow.

[2013-08-07 09:50] tgvashworth opened #41 "Output directory not honoured by zips."
[code]

[2013-08-07 09:51] tgvashworth opened #42 "Target files with slashes break stuff"
[code]

[2013-08-07 09:51] jackfranklin commented on #41
This seems entirely wrong. Will have to dig into this.

[2013-08-07 09:52] jackfranklin commented on #42
So we need to parse out `fish/jq.js`, check the directories exist and then write the file.

[2013-08-07 09:54] jackfranklin commented on #24
Do we think we still need this? The GitHub README seems to do the job.

[2013-08-07 09:54] jackfranklin opened #43 "contributing.md"
Write one.

[2013-08-07 10:27] tgvashworth commented on #42
Yarp. Question is – is that relative to -o, or the cwd?

[2013-08-07 10:29] jackfranklin commented on #42
Definitely relative to the directory pulldown was run from.

[2013-08-07 10:30] jackfranklin commented on #42
We seem to inadvertently have made 2 ways to do the same thing here.

IMO, these should do the same thing:

[code]

Do we want to do that?

[2013-08-07 10:34] tgvashworth commented on #42
That's true – I think yes.

_But_, this is fine:

[code]

But does this make sense?

[code]

Should it be this?

[code]

I know that's what you were saying (that it shouldn't), but it's definitely weird. It's basically a question of which takes priority, I guess?

[2013-08-07 11:13] jackfranklin commented on #42
That's weird.

Tempted to say if we detect folder path in `jquery::foo/baa.js` bit, and `-o` is passed, we error.

So these are all fine:

[code]

But this is just not cool, and IMO should not allow it and output a warning

[code]

[2013-08-07 14:26] jackfranklin commented on #32
Closing this. It totes isn't needed.

[2013-08-07 14:26] #32 closed, assigned to nobody

[2013-08-08 14:11] jackfranklin commented on #42
@phuu I may start work on this tonight. Are you happy with the above?

[2013-08-08 14:11] jackfranklin commented on #40
Cool. This should be as simple as changing the method that downloads a file just to do the output but not the actual downloading.

[2013-08-08 21:03] jackfranklin opened #45 "Make tests not need the network"
I wanna rewrite them all

[2013-08-09 09:01] #43 closed, assigned to nobody

[2013-08-09 11:08] jackfranklin opened #46 "Prompt for update"
I don't know if this is possible.

But it would be great if we had some version checker in place so Pulldown could tell the user they should reinstall it.

[code]

(Maybe an API endpoint?)

[2013-08-09 11:31] tgvashworth commented on #46
[update-notifier](https://github.com/yeoman/update-notifier) from yeoman, maybe?

[2013-08-09 11:33] jackfranklin commented on #46
Aww hell yeah!

[2013-08-09 17:09] #46 closed, assigned to nobody

[2013-08-09 22:43] #39 closed, assigned to nobody

[2013-08-13 11:28] jackfranklin opened #49 "Output progress bars"
Using the `\r` trick

[code]

[2013-08-13 14:54] jackfranklin commented on #45
Closing this - we can continue the discussion over in #48.

[2013-08-13 14:54] #45 closed, assigned to nobody

[2013-08-13 20:40] jackfranklin opened #51 "Caching"
Store files to some cache? Bower does this, and then will just use the cached version if it can.

_May_ well be over kill for us though.

[2013-08-14 21:37] tgvashworth opened #52 "require('pulldown')"
Currently this ain't possible, I think becuase there's no `main` field in the package.json.

[2013-08-16 09:59] #52 closed, assigned to nobody

[2013-08-16 10:00] jackfranklin opened #53 "Document the API"
Now that #52 is closed and it is possible to use Pulldown programatically (in fact, I think we should encourage it), we should document the API and how it work (wiki)?

[2013-08-16 10:02] #49 closed, assigned to jackfranklin

[2013-08-16 10:27] #33 closed, assigned to nobody

[2013-08-18 10:41] #38 closed, assigned to nobody

[2013-08-18 11:46] #40 closed, assigned to tgvashworth

[2013-08-18 13:10] #41 closed, assigned to nobody

[2013-08-18 14:57] #42 closed, assigned to nobody

[2013-08-18 15:12] jackfranklin opened #59 "Integration Tests"
We really should have some tests that test the integration.

I think we should mock the API layer but nothing else. So mock requests and replace them with some fake files, so a call to http://my.com/jquery/version.js just returns a fixture file with some text in.

[2013-08-19 15:04] jackfranklin opened #60 "Pulldown vs Bower"
People keep asking me which to use. In my mind, Pulldown's use case is completely different from Bowers - and Pulldown's not designed to compete. I should write this up.

[2013-08-21 13:42] jackfranklin opened #61 "Make it useful as a module"
@phuu I think you'll be interested in this.

Right now if you require in Pulldown, it's always going to download the files you pass it.

[code]

But what I think we want is a way to just get it to return the URLs it would have downloaded, right?

[code]

Right?

[2013-08-21 13:43] jackfranklin opened #62 "Finalise Logo"

[2013-08-21 13:44] jackfranklin commented on #24
With the new logo and impending V1 proper release, I think we should move docs over to a gh-pages, because all the cool kids do it.

[2013-08-21 13:44] jackfranklin commented on #51
@phuu what dya think?

[2013-08-21 13:48] tgvashworth commented on #61
Hmm. Possibly, although for `pldn.io` the string contents of the file is the useful bit. We should Skype soon to talk about it.

[2013-08-21 13:51] jackfranklin commented on #61
Yeah I think so. Easier than continuing this here.

[2013-08-21 18:42] jackfranklin commented on #61
[code]

[2013-08-21 18:45] jackfranklin opened #63 "Abstract some stuff out"
- make the Pulldown module return string contents of file
- the CLI should deal with the arguments, where to save the file, and so on.
- make a CLI thing that does that and then downloads the file

Modularising shit

[2013-08-21 19:46] tgvashworth commented on #63
+1 so hard.

[2013-08-22 10:48] #61 closed, assigned to nobody

[2013-08-22 21:53] #63 closed, assigned to nobody

[2013-08-22 21:54] #59 closed, assigned to nobody

[2013-08-22 21:59] jackfranklin commented on #60
@phuu et all pls read and see if this makes sense.

### Isn't it like Bower?

Bower is a far more complex and fully-featured package and, more importantly, _dependency_ manager. If you have a complex project with multiple 3rd party libraries in play, and you want to keep tight control over the versions you're using, Bower is best suited. Use Bower when you wouldn't want to commit all those librari

[2013-08-22 22:03] latentflip commented on #60
+1 although it's not clear why at first you say it's not a dependency manager, but then say you can do `pulldown backbone` which pulls in all 3, implying it might be a kind of dependency manager

[2013-08-22 22:04] jackfranklin commented on #60
@latentflip thanks - that's a fair point also. Should clarify Pulldown's concept of sets and how dumb it is.

[2013-08-22 22:09] jackfranklin commented on #60
### Take 2

Bower is a far more complex and fully-featured package and, more importantly, dependency manager. If you have a complex project with multiple 3rd party libraries in play, and you want to keep tight control over the versions you're using, Bower is best suited. Use Bower when you wouldn't want to commit all those libraries to Git, but would want to commit a component.json file.

We envis

[2013-08-22 22:12] latentflip commented on #60
You probably want to briefly mention how pulldown _knows_ that backbone ===
underscore + jquery + backbone (it's just config not magic).

On 22 August 2013 23:09, Jack Franklin notifications@github.com wrote:

##

Philip Roberts
latentflip.com

[2013-08-22 22:17] leggetter commented on #60
:+1: to @latentflip's comment about how sets are defined and used.

[2013-08-22 22:21] jackfranklin commented on #60
Agreed.

### Take 3

Bower is a far more complex and fully-featured package and, more importantly, dependency manager. If you have a complex project with multiple 3rd party libraries in play, and you want to keep tight control over the versions you're using, Bower is best suited. Use Bower when you wouldn't want to commit all those libraries to Git, but would want to commit a component.json file.

[2013-08-22 22:22] jackfranklin opened #65 "Update README"
We won't support zips in V1 and beyond.

[2013-08-22 22:22] jackfranklin opened #66 "Running pulldown with no arguments doesn't show the help"
This is a regression after the rewrite. Should be a quick fix.

[2013-08-22 22:24] latentflip commented on #60
That reads pretty well to me :)

[2013-08-22 22:28] leggetter commented on #60
The link could be substituted for a code example the same way the commands are shown - or in doc example snippet, then link. Just means all details are in a single place. But if this is likely to change then the link may be best.

[2013-08-23 08:35] tgvashworth commented on #60
I think it's important to emphasise that pulldown is about getting a file, quickly – but only once. Perhaps:

[2013-08-23 09:42] jackfranklin commented on #60
Yeah I like that. Nice. I'll put that and mine together and add it into the README :thumbsup: Thanks for your help all.

[2013-08-23 10:23] jackfranklin opened #67 "-c --concat option"
Should minify the arguments (most come minified from cdnjs anyway) into one file, keeping the order in which they are passed.

[2013-08-23 10:37] tgvashworth commented on #67
:-1: because of the risk of overcomplicating. Pulldown grabs files – we can add other layers with other projects, but at its core I think Pulldown has to stay very, very simple.

[2013-08-23 10:38] jackfranklin commented on #67
Yeah - I sort of agree. I wonder if we need a Pulldown plugin system...kinda like Grunt...

Again, over complicating things maybe...

[2013-08-23 10:38] tgvashworth opened #68 "Update README for v1.0"
We should look over the README to make sure it's all up to date for the new version.

[2013-08-23 10:40] jackfranklin commented on #68
Yeah - if we plan to move everything over to a gh-pages branch this could happen in tandem

[2013-08-23 11:08] #66 closed, assigned to nobody

[2013-08-23 11:10] jackfranklin commented on #67
Going to close this. Would like to revisit maybe down the line, but certainly not soon.

[2013-08-23 11:10] #67 closed, assigned to nobody

[2013-08-23 11:10] jackfranklin commented on #68
- no zip support

[2013-08-23 11:10] jackfranklin commented on #65
Closing in favour of #68

[2013-08-23 11:10] #65 closed, assigned to nobody

[2013-08-23 11:23] #60 closed, assigned to nobody

[2013-08-28 12:19] jackfranklin opened #69 "Can't download raw URLs"
[code]

This is a regression that obviously crept in during the move over to a CLI.

Also, it adds `.js` on the end which it shouldn't.

[2013-08-28 12:21] jackfranklin commented on #69
I added in an `ensureEndsInJs` method to the CLI, and that's what's doing it.

There was obviously a reason I did it at the time, but I'm unsure what it was.

[2013-08-28 12:23] jackfranklin commented on #69
https://github.com/jackfranklin/pulldown/blob/master/bin/cli.js#L51

[2013-08-28 14:07] jackfranklin commented on #69
Fixed https://github.com/jackfranklin/pulldown/commit/2c91f69cd82c20b4692a5c6127f61e40dde1ed81

[2013-08-28 14:07] #69 closed, assigned to nobody

[2013-08-28 14:17] #51 closed, assigned to nobody

[2013-08-28 18:01] #53 closed, assigned to nobody

[2013-08-28 18:41] #68 closed, assigned to nobody

[2013-08-28 19:06] jackfranklin opened #70 "TypeError"
[code]

[2013-08-28 19:19] #70 closed, assigned to nobody

[2013-08-28 20:49] jackfranklin opened #71 "Order isn't honoured"

[2013-08-28 21:00] jackfranklin commented on #71
Closing. It was @phuu being an idiot. Pulldown works fine.

[2013-08-28 21:00] #71 closed, assigned to nobody

[2013-08-28 21:25] jackfranklin opened #72 "Split into downloader & CLI"
Having the Pulldown module and the CLI in one thing is silly.

We have two sets of users now:
- those using Pulldown as a module
- those using the CLI tool

We should do what Grunt did and abstract the CLI tool into `pulldown-cli`. This would still be used as `pulldown` on the command line, but would keep it separate from the Pulldown module.

Having just hit V1, now isn't a great time to do it, b

[2013-08-28 21:46] jackfranklin opened #73 "Source Maps"
CDNJS has source maps

Would be cool if `pulldown jquery` gave me the source map too. Hawt?

[2013-08-29 18:19] jackfranklin opened #74 "Can't download URL to specific file"
[code]

[2013-08-30 09:34] #74 closed, assigned to jackfranklin

[2013-09-07 11:04] jackfranklin opened #75 "Pulldown shouldn't be a class"
No reason to have to do:

[code]

Should be

[code]

Totes.

[2013-09-07 11:05] tgvashworth commented on #75
Yup yup.

[2013-09-07 11:55] jackfranklin commented on #75
Word.

[2013-09-08 22:35] jackfranklin opened #76 "Weird behaviour when running `pulldown marionette`"
[code]

it grabs backbone set too?!

[2013-09-09 10:24] tgvashworth commented on #76
Yep, I added it [as a set](http://pulldown-api.herokuapp.com/set/marionette).

[2013-09-09 11:56] jackfranklin commented on #76
Ah nice, fair enough.

I wonder if to make this clearer, there should be an additional line of terminal output:

[code]

Perhaps?

[2013-09-10 09:08] tgvashworth commented on #76
Hmm. That's a tricky one, because it all resolves itself inside pulldown-resolve (I think). Worth thinking about tho.

[2013-09-10 11:33] jackfranklin commented on #76
Ah of course, yes. Hmm.

[2013-09-16 03:57] ghost opened #77 "Allow passing version option with or without an identifier"
Getting the current pulldown version requires passing a null for the identifier:

`$ pulldown null -v`

...which should be as easy as:

`$ pulldown -v`

It might also be more intuitive to get the latest version of a library, using:

`$ pulldown jquery -v`

...versus executing a dry run, which returns the version number buried in a URL:

`$ pulldown jquery -d`
`-> https://cdnjs.cloudflare.com/ajax/

[2013-09-16 09:57] jackfranklin commented on #77
Thanks ! The first bit is definitely a bug, which is a trivial fix. It would be nice to expose the version number in dry runs, definitely.

[2013-09-16 10:22] jackfranklin commented on #77
All the versioning is dealt with in the pulldown-resolver, so it's a question of how we'd get that info back into the CLI. Can't be too tricky to do - could do with @phuu's input on that.

@nallenscott thanks for your report - I have fixed the initial bug and will be pushing a new version of Pulldown that makes `pulldown -v` work.

[2013-09-16 12:14] ghost commented on #77
@jackfranklin thanks for the quick response!  Looking forward to @phuu's feedback on the library version option.

[2013-09-16 12:39] jackfranklin commented on #77
@nallenscott no problem! I'd just need to chat to @phuu about how we can expose the version number and propagate it through and back out to the CLI, as we don't do that currently.

[2013-10-25 10:09] jackfranklin opened #78 "Grunt plugin?"

[2013-10-25 14:34] tgvashworth commented on #78
To do what?

[2013-11-03 21:06] jackfranklin commented on #78
You know, I definitely had something in mind when I posted this, but I've no idea what it is.

[2013-11-03 21:06] #78 closed, assigned to nobody

[2013-11-08 18:20] jackfranklin commented on #75
See #79, which fixes this :)

[2013-11-08 18:20] #75 closed, assigned to nobody

[2013-11-09 23:20] jackfranklin commented on #72
This has now basically done, the only thing that needs to happen is the act of moving the pulldown.js stuff into another file, and separating them up. Code wise, the two are completely separate.

[2013-11-09 23:29] jackfranklin opened #80 "Command Line completion?"
Is it possible to get auto complete going?

If we somehow cached the titles of each library on CDNJS.

[code]

Could be too much work...

[2013-11-09 23:38] tgvashworth commented on #80
Hmm. It's tricky – I have it in distra – but possible.

[2013-11-09 23:38] tgvashworth commented on #80
But it would be very cool

[2013-11-09 23:38] tgvashworth commented on #80
Sorry, forgot how to open source for a second there...

:+1:

(is this right?)

[2013-11-23 17:31] jackfranklin opened #81 "Use tmp for file tests"
https://npmjs.org/package/tmp

[2013-11-27 22:28] jackfranklin commented on #77
@phuu did you ever get a chance to look at the above comment? :)

[2013-11-27 22:49] tgvashworth commented on #77
Hey @jackfranklin & @nallenscott – sorry, never saw this. Could you explain what you mean a bit more? I don't quite understand! Sorry :)

[2013-11-27 22:55] jackfranklin commented on #77
I think the idea is that it would be nice if this worked (or something similar), to get the latest version of a particular library:

[code]

I _thought_ that this would be really quite tricky, because version numbers are dealt with in the resolver...

But doing a dry run does give the version number, albeit hidden within the URL:

[code]

So we could make `pulldown jquery -v` work by doing a dry r

[2013-11-27 22:56] jackfranklin commented on #76
@phuu it would be good to revisit this and have a think about if it's possible...

[2013-11-27 23:11] tgvashworth commented on #77
Cools. I think we should parse the URL, cos all of pulldown after the cdnjs module deals entirely in URLs.

[2013-11-27 23:22] jackfranklin commented on #77
Yeah I'm +1 for that.

[2013-11-27 23:32] tgvashworth commented on #76
The obvious way would be to hit the api endpoint for a particular set to see what you get back, but in the case of `marionette` it would be:

[code]

Which ain't much use. But it's more useful than nothing, eh?

The next step would be to _partially_ resolve the identifier, util _just_ before it becomes a URL. But it's kinda the point of pulldown that it just deals in URLs – the resolving, API and

[2013-11-27 23:34] jackfranklin commented on #76
But the fact that the length > 1 tells you it's a set, right? So that would be enough to at least output "OMG SETTT"?

[2013-11-27 23:35] tgvashworth commented on #76
Oh I just re-read what you said. Yes, we can defo do that. Just make the CLI hit the API. ALL THE ACRONYMS.

[2013-11-27 23:36] jackfranklin commented on #76
Cool, I'll work on this sometime soon :)

[2013-11-28 00:02] tgvashworth commented on #76
Result of chat elsewhere is to make pulldown-resolve and pulldown EventEmitters, then emit `resolve` events (or something) that the CLI can react to.

[2013-11-28 00:59] ghost commented on #77
@jackfranklin One traditionally uses "-v" for getting the current version of something, but isn't "-v" typically used for assets that are already installed? Perhaps "-v" isn't the right tool. Also, doing a dry run does reveal the version number, and after a few weeks of use, I'm not sure that duplicating the version number elsewhere would truly help.

[2013-11-28 10:57] jackfranklin commented on #76
+1. Let's get that nailed and then we can revisit this.

[2013-11-29 20:05] tgvashworth commented on #77
I think we're ok to close this for now – although it wouldn't be too hard to implement, I think the use case is rare enough. Happy to reopen later.

[2013-11-29 20:05] #77 closed, assigned to nobody

[2013-11-30 22:44] chid opened #83 "Pulldown Bootstrap"
On git bash, running pulldown bootstrap

[code]

This actually just saves the HTML page. When it should be downloading https://github.com/twbs/bootstrap/releases/download/v3.0.2/bootstrap-3.0.2-dist.zip

[2013-12-01 13:07] jackfranklin commented on #83
Hey @chid, thanks for this report! Will look into it today sometime.

[2013-12-01 13:10] jackfranklin commented on #83
@phuu so the Pulldown API gives us back this for Bootstrap: `http://twitter.github.io/bootstrap/assets/bootstrap.zip`, which is incorrect.

CDNJS does give us bootstrap (http://cdnjs.com/libraries/twitter-bootstrap/), so we should be able to work something out here.

[2013-12-01 15:59] jackfranklin commented on #73
Should totally revisit this... @phuu

[2014-02-06 11:33] jackfranklin opened #85 "Ditch optimist"
Optimist has been deprecated: https://github.com/substack/node-optimist#deprecation-notice

We should swap to using minimist (https://npmjs.org/package/minimist), which is what Optimist used under the hood anyway.

[2014-02-06 11:34] jackfranklin commented on #83
Hey @chid, sorry for such a long delay in this. We actually removed support for ZIPs in Pulldown, I think around the time we hit V1. It was getting a bit complicated and we decided to simplify down to just dealing with URLs.

[2014-02-06 11:34] #83 closed, assigned to nobody

[2014-02-06 11:43] tgvashworth commented on #85
I think [yargs](https://github.com/chevex/yargs) might be better – totally drop in replacement/improvement afaik.

[2014-02-06 11:43] chid commented on #83
No worries, sounds good.

[2014-02-06 11:48] jackfranklin commented on #85
Ah even better :)

[2014-02-16 04:12] xiaohanyu commented on #83
Same problems.

Could I just `pulldown twitter-bootstrap`? I saw a `twitter-bootstrap` project in cdnjs.

[2014-02-28 22:12] jackfranklin opened #86 "Use stderr for error messages"
Be more Unixy innit

[2014-03-01 19:19] jackfranklin opened #87 "Move help out of the pulldown.js into cli.js"

[2014-03-01 19:46] #87 closed, assigned to nobody

[2014-03-01 19:53] #85 closed, assigned to nobody

[2014-03-01 19:57] #24 closed, assigned to nobody

[2014-03-05 23:50] jackfranklin opened #88 "Use multiline for our help"
https://github.com/sindresorhus/multiline

Better then all them console logs whattt

[2014-03-15 18:03] CMCDragonkai opened #89 "Suggestions for future usage"
I've been looking for a flexible package manager that basically allows me to download anything from a simple set of json directives.

Just a few suggestions for future usage:
1. Allow different registries and not just CDNJS, perhaps my own registry? Perhaps even a registry format.
2. Unpacking or uncompressing files from tar.gz... etc
3. Interactive specification or encrypted credentials for downl

[2014-03-15 18:52] tgvashworth commented on #89
Thanks for the suggestions!

We have support planned for different CDNs – it's just about finding the time to build it! We actually have a registry format – have a look at the [custom downloads](https://github.com/jackfranklin/pulldown#custom-downloads) section of the README.

We _had_ support for zips, but removed it because it was unused and complicated things. There's an issue for it somewhere.

[2014-03-16 01:26] CMCDragonkai commented on #89
Maybe take inspiration from browserify, and allow transformations of the data thus decompressing or preprocessing while downloading.

[2014-03-17 11:45] jackfranklin commented on #89
Thanks for your feedback! We could definitely look at adding ZIP support back but to be honest the common use cases of Pulldown don't usually include ZIPs.

I don't see any reason why we couldn't allow support for basic HTTP auth via command line arguments or similar though.

[2014-03-30 13:21] sindresorhus commented on #88
I just implemented a `stripIndent` method that let's you strip redundant indentation so you can indent it in source without affecting the resulting string: https://github.com/sindresorhus/multiline#strip-indent

[2014-03-30 14:14] jackfranklin commented on #88
Now that is awesome. Definitely going to get this in soon :shipit:

[2014-05-29 16:39] PDXIII opened #90 "Error message while trying to pulldown query"
Hi!

Really like your module, but since today something is weird. When I tried `pulldown jquery`  received this message:

[code]

I am on a MacBook Pro with Mavericks with node 0.10.28 and updated pulldown.

Best Regards,
Pete

[2014-05-29 16:47] tgvashworth commented on #90
Hey, thanks for reporting this. Looks like the API is crashing when you ask for a set, and therefore serving HTML. However, we shouldn't crash when we get it ;)

[2014-05-29 16:52] tgvashworth commented on #90
Looks like this is because the CDNjs API format has changed.

[2014-05-29 17:11] PDXIII commented on #90
Hurray! It’s not my fault \o/. I ain’t doing anything wrong!!!

[2014-05-29 18:41] jackfranklin commented on #90
As Tom said, thanks @PDXIII for reporting this. Our error handling could be better here - hopefully #91 will help.

[2014-05-29 22:05] jackfranklin commented on #90
@PDXIII so the problem as @phuu defined was down to the CDNJS format changing slightly and rather bizarrely.

I've opened a [PR on cdnjs-transform](https://github.com/phuu/cdnjs-transform/pull/2) which will fix that. Then we can release a new version of the CDNJS module and then the Pulldown API, and from there we should be back to working. My PR on this repo though should help with future API pro

[2014-05-29 22:09] tgvashworth commented on #90
#boom

[2014-05-29 22:21] tgvashworth commented on #90
Just released `pulldown-api` and `pulldown jquery` works for me again, so closing. Thanks for the report @PDXIII – let us know if you have any further trouble.

[2014-05-29 22:21] #90 closed, assigned to nobody

[2014-06-08 23:15] jackfranklin opened #92 "Rewrite / tweak"
Working on the main pulldown project to debug was tough. Following the flow of the data through all the async calls was difficult, and I'm familiar with the project. Would like to try just doing some bits of refactoring to make it nicer to read and see the flow from the user's search time through to the URL downloading.

[2014-06-23 14:28] halcarleton opened #94 "Compressed files seem to be corrupted"
When I `pulldown` `http://twitter.github.io/bootstrap/assets/bootstrap.zip` the file will not 'unzip'. I get an error saying that it is empty.

I also tried `https://github.com/paulrobertlloyd/barebones/archive/master.zip` and I get an error saying that "the compressed file is invalid". If i download load these compressed folders through chrome there is no issue.

Pulling down single files works f

[2014-06-23 15:13] jackfranklin commented on #94
Hey @halleycarleton,

Thanks for the report. Firstly, the API is unfortunately down at the moment, although we should have it up shortly (I'm working on it right now).

We'll look into the messing up of zip files - nothing immediately comes to mind to what could be causing the problem but something must be. I'll do some digging.

[2014-06-23 15:19] jackfranklin opened #95 "Pulldown API is currently down"
Due to a CDNJS problem which has knocked out the API. We're working on getting the relevant fix in place and hopefully will get the API up soon.

[2014-09-18 11:27] PDXIII opened #96 "include source map files"
When I use your script for pulling down jquery. I always get this error, that jquery.min.map is missing. That’s annoying, because I have to manually download it, and the amount of saved time using your script is gone. Is it somehow possible to include the source map files?

[2014-09-18 14:17] tgvashworth commented on #96
Hey. Right now, no — by Pulldown is backed by cdnjs, which I believe hosts sourcemaps for many of their projects, so it's something we could add.

[2014-09-25 02:33] giuliandrimba opened #97 "Add option to download the development version"
It would be nice to have an option to download the development version instead of the minified, in cases where the script is minified using a task/build tool (Grunt/Gulp).

[2014-10-02 12:11] jackfranklin commented on #97
I think this would need a change in the cdnjs module we use internally to find packages. @phuu ?